* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@font-face {
  font-family: "HCGleam";
  src: url("fonts/Font Todolist/HCGleam-Reg.otf") format("opentype");
}

h1 {
  font-size: 150px;
  margin: 0;
  margin-top: 10%;
  text-align: center;
}

.container {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border-color: rgb(68, 142, 206);
  background-color: aliceblue;
  padding: 20px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  border: 2px rgb(68, 142, 206);
}

.typeboxtext {
  height: 20%;
  font-family: "quicksand";
  font-style: italic;
  color: rgb(119, 112, 112);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

}